<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    $CSS_LINK
    <!-- I have used this stylesheet to make my codesnippets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
    <title>$TAB_TITLE</title>
</head>

<body>
    <header>
        <nav id="navbar">
            <a class="nav-image" href="/frontpage"><img  id="logo" src="/assets/images/node-js.227x256.png" alt=""></a>
            <a class="nav-button" href="/javascript">Javascript</a>
            <a class="nav-button" href="/node">Node</a>
            <a class="nav-button" href="/npm">NPM</a>
            $ADMIN_LINK
        </nav>
    </header>
    <main>
