#wrapper{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

#function-code{
    grid-column: 1/3;
}

#method-code{
    grid-column: 3/5;
}

#arrow-function-text{
    grid-column: 1/3;
    margin-right: 0;
    margin-left: 20em;
}

#arrow-function-code{
    margin-top: -1em;
    grid-column: 3/5
}